---
import SectionHeader from "../section-header.astro";

interface Experience {
  companyName: string;
  startMonth: string;
  startYear: number;
  endYear: number | "Currently";
  endMonth?: string;
  description: string | HTMLElement;
}

const experienceData = [
  {
    companyName: "InovenTI",
    startYear: 2024,
    startMonth: "January",
    endYear: 2024,
    endMonth: "July",
    description: `
        I worked as a fullstack intern
        developing solutions in .NET and Javascript
      `,
  },
  {
    companyName: "Toshiba GCS",
    startMonth: "July",
    startYear: 2024,
    endYear: "Currently",
    description: `
      I work in Toshiba Global Commerce Solutions as an intern helping in 
      testing, frontend and backend development to the engineers in the project
      `,
  },
] as Experience[];
---

<section id="experience" class="text-white w-full">
  <SectionHeader text="Experience" />
  <div class="flex items-center justify-center md:px-40 w-full">
    <div class="mt-20">
      <div class="flex flex-col items-center">
        <div class="p-10 border-4 border-red-500 rounded-full">Start</div>
        <div class="h-44 border border-red-500 w-0"></div>
      </div>
      {
        experienceData.map(
          ({
            companyName,
            startYear,
            endYear,
            description,
            startMonth,
            endMonth,
          }) => {
            return (
              <div class="flex flex-col items-center justify-center">
                <div class="w-1/2">
                  <div class="flex flex-col">
                    <span class="text-3xl text-red-500 font-bold">
                      {companyName}
                    </span>
                    <span class="text-xs opacity-60 uppercase">{`${startMonth} ${startYear} - ${endMonth || ""} ${endYear}`}</span>
                  </div>
                  <p class="text-sm">{description}</p>
                </div>
                <div class="h-44 border border-red-500 w-0" />
              </div>
            );
          }
        )
      }
      <div class="flex flex-col items-center">
        <div class="p-10 border-4 border-red-500 rounded-full">End</div>
      </div>
    </div>
  </div>
</section>
